body {
    background-color: #1a1a1a;
    color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
}

.font-oswald {
    font-family: 'Oswald', sans-serif;
}

.text-street-yellow {
    color: #FFAE00;
}

.bg-street-yellow {
    background-color: #FFAE00;
}

.page-section {
    animation: fadeIn 0.3s ease-in-out;
}

/* FADE IN ANIMATION FOR MOBILE MENU */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
    animation: fadeIn 0.2s ease-out forwards;
}

.nav-btn:hover,
.active-nav {
    color: #FFAE00;
    border-bottom: 2px solid #FFAE00;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #444;
}
::-webkit-scrollbar-thumb:hover {
    background: #FFAE00;
}
